<!DOCTYPE html>
  <head>
    <title>Tools for piBo</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- <link rel="manifest" href="../static/manifest.json" /> -->
    <link rel="stylesheet" href="../static/all.min.css?ver=240110v1" type="text/css" />
    <link rel="stylesheet" href="../static/jquery.jsonview.min.css" />
    <link rel="stylesheet" href="../static/index.css?ver=240110v3" />
    <link rel="stylesheet" href="../static/simulator.css?ver=240110v1" />
    <link rel="shortcut icon" href="../static/icon.png" type="image/x-icon" />

    <script src="../static/jquery-3.1.1.min.js"></script>
    <script src="../static/jquery.jsonview.min.js"></script>
    <script src="../static/socket.io.min.js?ver=240110v1"></script>
  </head>
  <body>
    <header class="title">
      <div style="float:left">
        <h2>
          <i class="fa-solid fa-microchip">Tools <span id="state"></span></i>&nbsp;
          <span id="onoff_val"></span>
          <span id="onoff_count"></span>
        </h2>
      </div>
      <div style="float:right">
        <h2 style="display: flex; align-items: center; justify-content: center;">
          <a id="fullscreen_bt"><span id='fullscreen_txt'></span></a>&nbsp;&nbsp;
          <select id="language">
            <option value="ko">한국어</option>
            <option value="en">English</option>
          </select>&nbsp;
          <a id="logo_bt">
            <img src="../static/themaker.png" style="height:22px" />
          </a>
        </h2>
      </div>
    </header>

    <div class="alert-popup" id="alertPopup" style="display:none;">
      <div class="alert-popup-content">
        <p id="alertMessageElement">alert text</p>
        <div class="popup-buttons">
          <button id="alertOkBtn"><span data-key="confirm"></span></button>
        </div>
      </div>
    </div>

    <div class="prompt-popup" id="promptPopup" style="display:none;">
      <div class="prompt-popup-content">
        <p id="promptMessageElement">prompt text</p>
        <input type="text" id="promptInputElement" />
        <div class="popup-buttons">
          <button id="promptOkBtn"><span data-key="confirm"></span></button>
          <button id="promptCancelBtn"><span data-key="cancel"></span></button>
        </div>
      </div>
    </div>

    <div class="confirm-popup" id="confirmPopup" style="display:none;">
      <div class="confirm-popup-content">
        <p id="confirmMessageElement">confirm text</p>
        <div class="popup-buttons">
          <button id="confirmOkBtn"><span data-key="confirm"></span></button>
          <button id="confirmCancelBtn"><span data-key="cancel"></span></button>
        </div>
      </div>
    </div>

    <main>
      <nav>
        <ul>
          <li><button name="motion"></li>
          <li><button name="vision"></li>
          <li><button name="speech"></li>
        </ul>
      </nav>

      <div class="content">
        <div class="wrapper">
          <article id="article_motion" class="margin">
            <section class="pibo-section">
              <div>
                <div style="float:left">
                  <button id="init_bt">
                    <i class="fa-solid fa-person"></i>
                    <span data-key="init_motors"></span>
                  </button>
                </div>
                <div style="float:right">
                  <span data-key="time"></span>:
                  <input
                    type="number"
                    name="m_time_val"
                    id="m_time_val"
                    min="0"
                    max="300"
                    step="0.1"
                    value="0"
                    pattern="\d*"
                  />
                  <button id="add_frame_bt" class="btn-teal">
                    <i class="fa-solid fa-plus"></i>
                    <span data-key="add"></span>
                  </button>
                </div>
              </div>
              <img src="../static/pibo_body.min.png" alt="pibo body" />
              <div class="motion-input-group">
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M5(Head Tilt)</span>
                      <input
                        type="number"
                        name="head_tilt_value"
                        id="m5_value"
                        min="-25"
                        max="25"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="head_tilt_range"
                      id="m5_range"
                      min="-25"
                      max="25"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M4(Head Pan)</span>
                      <input
                        type="number"
                        name="head_pan_value"
                        id="m4_value"
                        min="-50"
                        max="50"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="head_pan_range"
                      id="m4_range"
                      min="-50"
                      max="50"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M2(Right Arm)</span>
                      <input
                        type="number"
                        name="right_arm_value"
                        id="m2_value"
                        min="-80"
                        max="80"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_arm_range"
                      id="m2_range"
                      min="-80"
                      max="80"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M8(Left Arm)</span>
                      <input
                        type="number"
                        name="left_arm_value"
                        id="m8_value"
                        min="-80"
                        max="80"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_arm_range"
                      id="m8_range"
                      min="-80"
                      max="80"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M3(Right Hand)</span>
                      <input
                        type="number"
                        name="right_hand_value"
                        id="m3_value"
                        min="-30"
                        max="30"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_hand_range"
                      id="m3_range"
                      min="-30"
                      max="30"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M9(Left Hand)</span>
                      <input
                        type="number"
                        name="left_hand_value"
                        id="m9_value"
                        min="-30"
                        max="30"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_hand_range"
                      id="m9_range"
                      min="-30"
                      max="30"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M1(Right Leg)</span>
                      <input
                        type="number"
                        name="right_leg_value"
                        id="m1_value"
                        min="-35"
                        max="35"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_leg_range"
                      id="m1_range"
                      min="-35"
                      max="35"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M7(Left Leg)</span>
                      <input
                        type="number"
                        name="left_leg_value"
                        id="m7_value"
                        min="-35"
                        max="35"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_leg_range"
                      id="m7_range"
                      min="-35"
                      max="35"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M0(Right Foot)</span>
                      <input
                        type="number"
                        name="right_foot_value"
                        id="m0_value"
                        min="-25"
                        max="25"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_foot_range"
                      id="m0_range"
                      min="-25"
                      max="25"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M6(Left Foot)</span>
                      <input
                        type="number"
                        name="left_foot_value"
                        id="m6_value"
                        min="-25"
                        max="25"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_foot_range"
                      id="m6_range"
                      min="-25"
                      max="25"
                    />
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="motion-record">
                <div>
                  <span data-key="play_cycle"></span>:
                  <input
                    type="number"
                    name="play_cycle_val"
                    id="play_cycle_val"
                    min="1"
                    max="100"
                    value="1"
                    pattern="\d*"
                  />
                  <span> - </span>
                  <button id="play_frame_bt" class="btn-teal">
                    <i class="fa-solid fa-play"></i>
                    <span data-key="execute"></span>
                  </button>
                  <button id="stop_frame_bt" class="btn-teal">
                    <i class="fa-solid fa-stop"></i>
                    <span data-key="stop"></span>
                  </button>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                  <button id="init_frame_bt" class="btn-teal">
                    <i class="fa-solid fa-trash-can"></i>
                    <span data-key="remove_all"></span>
                  </button>
                </div>
                <div class="motion-table-wrap">
                  <table id="motor_table">
                    <thead>
                      <tr>
                        <td><span data-key="time"></span></td>
                        <td>M0</td>
                        <td>M1</td>
                        <td>M2</td>
                        <td>M3</td>
                        <td>M4</td>
                        <td>M5</td>
                        <td>M6</td>
                        <td>M7</td>
                        <td>M8</td>
                        <td>M9</td>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
                <div class="motion-name-wrap">
                  <span data-key="motion_name"></span>:
                  <input
                    type="text"
                    name="motion_name_val"
                    id="motion_name_val"
                    style="width:178px"
                  />
                  <button id="add_motion_bt" class="btn-red">
                    <i class="fa-solid fa-check-double"></i>
                    <span data-key="register"></span>
                  </button>
                  <button id="load_motion_bt">
                    <i class="fa-solid fa-arrow-turn-up"></i>
                    <span data-key="load"></span>
                  </button>
                  <button id="delete_motion_bt">
                    <i class="fa-solid fa-minus"></i>
                    <span data-key="remove"></span>
                  </button>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                  <button id="reset_motion_bt">
                    <i class="fa-solid fa-trash-can"></i>
                    <span data-key="remove_all"></span>
                  </button>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                  <button id="export_motion_bt">
                    <i class="fas fa-file-export"></i>
                    <span data-key="export"></span>
                  </button>
                  <label for="v_import_motion"><i class="fas fa-file-import"></i>&nbsp;<span data-key="import"></span></label>      
                  <div class="filebox">
                    <form>
                      <input type="file" id="v_import_motion" accept=".json" />
                    </form>
                  </div>

                </div>
                <div class="motion-path">
                  <input type="text" id="motion-path-disabled" value="~/mymotion.json" disabled />
                  <textarea
                    name="motor_record"
                    id="motor_record"
                    rows="5"
                    wrap="hard"
                    disabled
                  ></textarea>
                  <span data-key="example"></span>:
                  <b><span id="motion_samples"></span></b>
                </div>
              </div>
            </section>
          </article>
          <article id="article_vision">
            <section>
              <div>
                <div style="float:left">
                  <h3 class="mark" data-key="camera"></h3>
                </div>
                <div style="float:right">
                  <button id="v_capture">
                    <i class="fa-solid fa-image"></i>
                    <span data-key="save_image"></span>
                  </button>
                </div>
              </div>
              <img id="v_img" />
              <div>
                <header><span data-key="camera_position"></span> <i class="fa-solid fa-location-crosshairs">&nbsp;<span id="v_location"></span></i></header>
                <div style="display: flex; align-items: center; justify-content: center;">
                  <a id="v_pan_reset"><i class="fa-solid fa-arrows-left-right"></i></a>
                  <input
                    type="range"
                    name="v_pan_range"
                    id="v_pan_range"
                    min="-50"
                    max="50"
                    style="width:50%;"
                  />
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <a id="v_tilt_reset"><i class="fa-solid fa-arrows-up-down"></i></a>
                  <input
                    type="range"
                    name="v_tilt_range"
                    id="v_tilt_range"
                    min="-25"
                    max="25"
                    style="width:50%;"
                  />
                </div>
              </div>
            </section>
            <section>
              <div>
                <h3 class="mark" data-key="vision_use"></h3>
              </div>
              <div>
                <header data-key="function_setting"></header>
                <select id="v_func_type">
                  <option value="camera" data-key="category"></option>
                  <option value="grayscale" data-key="v_grayscale"></option>
                  <option value="canny" data-key="v_canny"></option>
                  <option value="cartoon" data-key="v_cartoon"></option>
                  <option value="sketch_rgb" data-key="v_sketch_rgb"></option>
                  <option value="detail" data-key="v_detail"></option>
                  <option value="edgePreservingFilter" data-key="v_edgePreservingFilter"></option>
                  <option value="qr" data-key="v_qr"></option>
                  <option value="face" data-key="v_face"></option>
                  <option value="face_landmark" data-key="v_face_landmark"></option>
                  <option value="object" data-key="v_object"></option>
                  <!-- <option value="classify" data-key="v_classify"></option> -->
                  <option value="hand" data-key="v_hand"></option> 
                  <option value="pose" data-key="v_pose"></option>
                  <!-- <option value="tm" data-key="v_tm"></option> -->
                  <option value="track" data-key="v_track"></option>
                  <option value="marker" data-key="v_marker"></option>
                </select>
              </div>
              <div>
                <span class="label" style="font-size:medium" data-key="v_marker_length"></span>: &nbsp;
                <input type="number" id="marker_length" min="1" max="50" value="5" step="0.1" pattern="\d*" style="width:60px"/> cm
              </div>
              <h3 class="mark" data-key="result"></h3>
                <textarea
                name="v_result"
                id="v_result"
                rows="5"
                wrap="hard"
                style="width:100%"
                disabled
              ></textarea>
            </section>
          </article>
          <article id="article_speech">
            <section>
              <div>
                <h3 class="mark" data-key="speak"></h3>
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="voice"></span>:
                <input type="radio" name="s_voice_en" value="on" checked />On
                <input type="radio" name="s_voice_en" value="off" />Off
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="volume"></span>:
                <input type="number" id="volume" min="0" max="100" value="80" pattern="\d*" /><i class="fa-solid fa-percent"></i>
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="voice_type"></span>:
                <select name="s_voice_type">
                  <option value="espeak" data-key="espeak"></option>
                  <option value="main" data-key="main"></option>
                  <option value="man1" data-key="man"></option>
                  <option value="woman1" data-key="woman"></option>
                  <option value="boy" data-key="boy"></option>
                  <option value="girl" data-key="girl"></option>
                  <option value="gtts" data-key="gtts"></option>
                  <option value="e_gtts" data-key="e_gtts"></option>
                </select>
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="text"></span>:
                <input type="text" id="s_tts_val" />
                <button id="s_tts_bt" style="width:120px">
                  <i class="fa-solid fa-play"></i>
                  <span data-key="execute"></span>
                </button>
              </div>
              <div>
                <h3 class="mark" data-key="translate"></h3>
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="language_type"></span>:
                <select name="s_lang_type">
                  <option value="en" data-key="s_lang_en"></option>
                  <option value="ko" data-key="s_lang_ko"></option>
                  <option value="es" data-key="s_lang_es"></option>
                  <option value="fr" data-key="s_lang_fr"></option>
                  <option value="de" data-key="s_lang_de"></option>
                  <option value="zh-CN" data-key="s_lang_zhcn"></option>
                  <option value="ja" data-key="s_lang_ja"></option>
                  <option value="ru" data-key="s_lang_ru"></option>
                  <option value="ar" data-key="s_lang_ar"></option>
                  <option value="hi" data-key="s_lang_hi"></option>
                  <option value="la" data-key="s_lang_la"></option>        
                </select>
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="text"></span>:
                <input type="text" id="s_translate_val" />
                <button id="s_translate_bt" style="width:120px">
                  <i class="fa-solid fa-language"></i>
                  <span data-key="execute"></span>
                </button>
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="result"></span>:
                <input type="text" id="s_translate_result_val" disabled/>
              </div>


              <div>
                <h3 class="mark" data-key="record"></h3>
              </div>
              <div class="speech-input-group">
                <input type="number" name="mic_time_val" id="mic_time_val" value="5" min="1" max="30" pattern="\d*" />
                <span class="label" data-key="second"></span>
                <button id="mic_bt">
                  <i class="fa-solid fa-microphone"></i>
                  <span data-key="record"></span>
                </button>
                <button id="mic_replay_bt">
                  <i class="fa-solid fa-repeat"></i>
                  <span data-key="replay"></span>
                </button>
                <i class="fa-solid fa-ellipsis"></i>
                <span class="label" id="mic_status"></span>
              </div>


            </section>
            <section>
              <div>
                <h3 class="mark" data-key="talk"></h3>
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="conversation_dataset"></span>:
                &nbsp;
                <label for="s_upload_csv" class="upload_label"><i class="fa-solid fa-file-upload">&nbsp;</i><span data-key="upload"></span></label>
                <div class="upload_div">
                  <form>
                    <input type="file" id="s_upload_csv" accept=".csv" />
                  </form>
                </div>
                    <a id="s_reset_csv_bt" class="upload_label" style="cursor:pointer">
                      <i class="fa-solid fa-eraser">&nbsp;</i><b><span data-key="reset"></span></b>
                    </a>
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="question"></span>:
                <input
                  type="text"
                  name="s_question_val"
                  id="s_question_val"
                />
                <button id="s_chat_bt" style="width:150px">
                  <i class="fa-solid fa-comment-dots"></i>
                  <span data-key="execute"></span>
                </button>
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="answer"></span>:
                <input
                  type="text"
                  name="s_answer_val"
                  id="s_answer_val"
                  disabled
                />
              </div>
              <div class="speech-input-group">
                <span class="label" data-key="conversation_record"></span>
              </div>
              <div class="speech-input-group">
                <table id="s_record_tb">
                  <thead>
                    <tr>
                      <td style="width: 100px"><b><span data-key="time"></span></b></td>
                      <td><b><span data-key="question"></span></b></td>
                      <td><b><span data-key="answer"></span></b></td>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </section>
          </article>
        </div>
      </div>
    </main>
  </body>
  <script src="../static/ko2en.js?ver=240325v2"></script>
  <script src="../static/index.js?ver=240325v9"></script>
</html>
